.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
}

.header {
    display: flex;              
    align-items: center; 
    justify-content: space-between;        
    padding: 20px;           
    background-color: #f7f9fc;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #e0e0e0; 
    border-radius: 10px 10px 0 0;
}

.brandContainer {
    display: flex;              
    align-items: center;         
    gap: 10px;
}

.header img {
    height: 50px; 
    margin-right: 15px;  
}

.headerText {
    font-size: 26px;
    font-weight: 600;  
    color: #333;    
    text-align: left;       
}

.logout {
    border-width: 1px;
    border-radius: 4px; 
    padding: 6px 8px; 
    font-size: 12px; 
    cursor: pointer;
}

.logout:active {
    transform: scale(0.95);
}

.greeting {
    text-align: center; 
    gap: 10px;
    width: 100%;
}

.greetingText {
    color: black;
    font-size: 56px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.overallValue {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
}

.overallValueText {
    font-size: 48px;
    font-weight: bold;           
    color: black;               
    margin-left: 5px; 
}

.posPercentageChange {
    font-size: 16px;      
    color: green;  
}        

.negPercentageChange {
    font-size: 16px;      
    color: red;  
}   

.noPercentageChange {
    font-size: 16px;      
    color: darkgrey;  
}    

.chartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 20px 40px;
    padding: 20px 0px;
}

@media (max-width: 768px) {
    .chartContainer {
        flex-direction: column;
        margin: 0;
    }
    .lineChart, .pieChart {
        width: 100%;
        height: auto;
    }
}

.lineChart {
    width: 70%; 
    height: 100%;  
    margin-right: 10px;    
}

.pieChart {
    height: 400px; 
    width: 30%; 
    margin-left: 10px;   
}

.addRemove {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
    padding-right: 20px;
}

.addButton, .removeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.addButton {
    color: #4CAF50; 
    border-color: #4CAF50;
    background-color: #e8f5e9; 
}

.addButton:active {
    background-color: #c8e6c9;
    transform: scale(0.95); 
}
  
.removeButton {
    color: #f44336; 
    border-color: #f44336;
    background-color: #fdecea; 
}

.removeButton img {
    width: 16px; 
    height: 16px; 
    margin-right: 5px;
}

.removeButton:active {
    background-color: #f9d6d3;
    transform: scale(0.95); 
}
  
.addButton span, .removeButton span {
    margin-right: 5px; 
}

.tabsContainer {
    padding-top: 10px;
    margin: 0px 20px 20px 20px;
}

.blockTabs {
    display: flex;
    width: 100%;
}

.tab {
    flex: 1;
    max-width: 140px;
    min-width: 80px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;   
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    margin-right: -1px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .blockTabs {
        justify-content: space-between;
    }

    .tab {
        flex: 1 1 auto;
        max-width: unset;
    }
}

.activeTab {
    background-color: lightgrey;
    color: black;
    border-bottom: 1px solid lightgrey;
    font-weight: 700;
}

.tab:hover {
    background-color: #ddd;
}

.tab img {
    margin-right: 8px;
    width: 24px;
}

.content {
    display: none;
    padding: 10px;
    background: lightgray;
    border-radius: 0 6px 6px 6px;
}

.activeContent {
    display: block;
}

.spinner {
    border: 4px solid grey;
    border-left-color: black;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #f7f9fc;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #e0e0e0;
}

.footerLinks {
    display: flex;
    justify-content: space-around;
    width: 60%; 
}
  
.footerLink {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    padding: 10px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
  
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
  
.modalContent {
    display: flex;
}

